@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
}
body {
  background: linear-gradient(to right, #595cff, #c6f8ff);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  text-align: center;
  margin: 50px auto;
  height: 100%;
  background-color: rgba(23, 22, 22, 0.3);
  box-shadow: 17px 11px 5px 0px #9d9bba;
}
input {
  padding: 5px 10px;
  text-align: center;
  width: 150px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #ffc;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.offcanvas-body {
  overflow-y: scroll;
}
.offcanvas-body::-webkit-scrollbar {
  display: none;
}
